// font size
.fz-24{
    font-size: 24px;
}
.fz-20{
    font-size: 20px;
}
.fz-14{
    font-size: 14px;
}
.fz-32{
    font-size: 32px;
}
// font style
.raleway{
    font-family: 'Raleway', sans-serif;
}
// background img
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
// padding
.py-15{
    padding-left: 15px;
    padding-right: 15px;
}
//margin
.mb-213{
    margin-bottom: 213px;
}

// line-through
.lineThrough{
    text-decoration: line-through;
}

// hover-primary index
.hoverPrimary-i{
    color: $light;
    &:hover{
        color: $primary;
    }
}
// hover-primary product
.hoverPrimary-p{
    color: $secondary;
    &:hover{
        color: $primary;
    }
}